<div class="card text">
    <div class="card-header">
        Leaf Rake
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">Leaf Rake</h5> -->
        <p class="card-text"></p>
            <div class="row">
                <div class="col-2">
                    <p>Name:</p>
                    <p>Code:</p>
                    <p>Description: </p>
                    <p>Availability:</p>
                    <p>Price:</p>
                    <p>5 Star Rating: </p>
                </div>
                <div class="col-3">
                    <p>Leaf Rake</p>
                    <p>GDN-0011</p>
                    <p>Leaf Rake with 48-inch wooden handle.</p>
                    <p>March 19, 2019</p>
                    <p>$19.95</p>
                    <p>3.2</p>
                </div>
                <div class="col-7">
                    <img src="../../assets/img/leafrake.jpg">
                </div>
            </div>
        
    </div>
    <div class="card-footer text-muted">
        <a href="#">Back</a>
    </div>
</div>