<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab1v1']">Lab 1v1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab1v2']">Lab 1v2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab1v3']">Lab 1v3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab1v4']">Lab 1v4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab2']">Lab 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab5v1']">Lab 5-1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab5v2']">Lab 5v2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab5v3']">Lab 5v3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/lab5v4']">Lab 5v4</a>
  </li>
</ul>
<router-outlet></router-outlet>
