<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['']">Sinh vien</a></li>
            <li class="breadcrumb-item active" aria-current="page" >Alexander</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <span class="glyphicon glyphicon-calendar"></span> Detail
        </div>
        <div class="card-body">
            <h6>LastName</h6><br>
            <p>Alexander</p>
            <h6>FirstName</h6><br>
            <p>Carson</p>
            <h6>EnrollDate</h6><br>
            <p>	2005-09-01 </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chemistry</td>
                        <td>65</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Macroeconomics</td>
                        <td>67</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Macroeconomics</td>
                        <td>66</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
